.i
  background-position left center
  background-repeat no-repeat
.iLike
  background-image url(../icons/like.png)
.iLikeGrey
  background-image url(../icons/like_grey.png)
.iWarning
  background-image url(../icons/warning.png)
.iOK
  background-image url(../icons/ok.png)
.iPriceTag
  background-image url(../icons/price_tag.png)
.iLoading
  background-image url(../icons/loading.png)